S3method(plot, metaoutliers)
export(metahet, metaoutliers)

importFrom("graphics", "abline", "axis", "plot.default")
importFrom("stats", "pchisq", "pnorm", "quantile", "rnorm", "uniroot", "lm", "summary.lm", "qt", "var")