S3method(plot, metaoutliers)
export(metahet, metaoutliers, metapb, mvma, mvma.bayesian, mvma.hybrid, mvma.hybrid.bayesian)

import("rjags")
importFrom("coda", "gelman.diag")
importFrom("graphics", "abline", "axis", "par", "plot", "plot.default")
importFrom("grDevices", "png", "dev.off")
importFrom("methods", "is")
importFrom("stats", "optim", "pchisq", "pnorm", "quantile", "rnorm", "uniroot", "update", "lm", "summary.lm", "qt", "var")
importFrom("utils", "write.table")